<nav class="navbar navbar-light bg-default" style="background: #004a7b !important;"> 
  <a style="color: azure;" class="navbar-brand" href="/">
    <img src="/img/pomodoro.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Pomodoro
  </a>
</nav>